[submodule "src/crisp_py"]
	path = src/crisp_py
	url = https://github.com/yizhongzhang1989/crisp_py.git
	shallow = true
[submodule "src/crisp_controllers"]
	path = src/crisp_controllers
	url = https://github.com/yizhongzhang1989/crisp_controllers.git
	shallow = true
[submodule "src/vision_tracker_6d/ThirdParty/camera_calibration_toolkit"]
	path = src/vision_tracker_6d/ThirdParty/camera_calibration_toolkit
	url = https://github.com/yizhongzhang1989/camera_calibration_toolkit.git
[submodule "src/alicia_leader"]
	path = src/alicia_leader
	url = https://github.com/yizhongzhang1989/Alicia-D-Leader-ROS.git
	shallow = true
[submodule "src/ur_simulator"]
	path = src/ur_simulator
	url = https://github.com/yizhongzhang1989/ur_simulator.git
